  GNU nano 8.7.1                                                                        .env.example                                                                                  

PORT=4000

DATABASE_URL



JWT_SECRET



UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN








